<h4>All about <%= @name %></h4>

<p><%= @language.long_description %></p>

<button class="btn btn-link"><%= link_to 'Take Me Home', languages_path %></button>
<h6>All information is from Wikipedia. Long Live Free Knowledge!</h6>